#navbar {
  background-color: #f7f5f5;
}

form{
    color: #1C2321 !important;
    border-radius: 20px;
    background-color: #f7f5f5;
    /* box-shadow: 10px 21px 62px 25px rgb(239, 239, 239); */
    box-shadow: 10px 21px 56px -8px rgba(214,214,214,1);
}