#navbar {
  background-color: #f7f5f5;
}

form {
  color: #1c2321 !important;
  border-radius: 20px;
  background-color: #f7f5f5;
  box-shadow: 10px 21px 56px -8px rgba(214, 214, 214, 1);
}

.form-expense {
  color: #1c2321 !important;
  border-radius: 20px;
  background-color: #f7f5f5;
  box-shadow: 10px 21px 56px -8px rgba(214, 214, 214, 1);
  height: 495px;
}

.success-notify {
  border-radius: 20px;
  background-color: #f7f5f5;
  box-shadow: 10px 21px 56px -8px rgba(214, 214, 214, 1);
  color: green;
  padding: 20px;
  margin-top: 25px;
  font-size: 16px;
  width: 25%;
}

.warn-notify {
  border-radius: 20px;
  background-color: #f7f5f5;
  box-shadow: 10px 21px 56px -8px rgba(214, 214, 214, 1);
  color: rgb(255, 166, 0);
  padding: 20px;
  margin-top: 25px;
  font-size: 16px;
  width: 25%;
}

.failure-notify {
  border-radius: 20px;
  background-color: #f7f5f5;
  box-shadow: 10px 21px 56px -8px rgba(214, 214, 214, 1);
  color: crimson;
  padding: 20px;
  margin-top: 25px;
  font-size: 16px;
  width: 25%;
}

#expense-tab {
  border-radius: 10px;
  /* background-color: #dddcdc; */
  /* box-shadow: 10px 21px 56px -8px rgba(214, 214, 214, 1); */
  padding: 20px;
}

#expense-list {
  color: #1c2321 !important;
  border-radius: 20px;
  /* background-color: #1C2321; */
  /* box-shadow: 10px 21px 56px -8px rgba(214, 214, 214, 1); */
}

#card-credit {
  background-color: #e6ffe9;
  border: none;
  color: #000000;
  font-size: 14px;
  margin-top: 5px;
}

#card-header-credit {
  color: green;
  font-size: 17px;
  font-weight: 600;
}

#card-debit {
  background-color: #ffecec;
  border: none;
  color: #000000;
  font-size: 14px;
  margin-top: 5px;
}

#card-header-debit {
  color: crimson;
  font-size: 17px;
  font-weight: 600;
}

@media screen and (min-width: 990px) {
  #logout-btn {
    margin-left: 10px;
  }
}

@media screen and (max-width: 989px) {
  #logout-btn {
    margin-top: 10px;
    width: 95px;
  }
}

@media screen and (max-width: 989px) {
  #premium-btn {
    margin-top: 10px;
    width: 95px;
  }
}

@media screen and (min-width: 990px) {
  .navbar-nav {
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.hide {
  display: none;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.stats-expense {
  color: #1c2321 !important;
  border-radius: 20px;
  /* background-color: rgb(221, 238, 255); */
  background-color: #f7f5f5;
  box-shadow: 10px 21px 56px -8px rgba(214, 214, 214, 1);
  height: 400px;
  width: 80%;
}

@media screen and (max-width: 989px) {
  .stats-expense{
    width: 100%;
  }
}

.stats-info{
  font-size: 18px;
  display: flex;
  height: 35px;
  padding: 5px;
  margin-top: 7px;
  align-content: center;
  justify-content: space-between;
}

#networth{
  padding-right: 8px;
  color: rgb(63, 63, 190);
  border-radius: 20px;
  background-color: rgb(223, 223, 249);
}

#credit-score{
  padding-right: 8px;
  color: rgb(76, 163, 76);
  border-radius: 20px;
  background-color: rgb(209, 247, 209);
}

#debit-score{
  padding-right: 8px;
  color: rgb(226, 3, 47);
  border-radius: 20px;
  background-color: rgb(249, 218, 224);
}

#balance{
  border-radius: 20px;
  padding-right: 8px;
  background-color: rgb(230, 228, 228);
}

#score{
  border-top: 1px solid black;
  margin-top: 55px;
  padding-right: 8px;
}

#leader-bord-container{
  border-radius: 20px;
  /* background-color: rgb(221, 238, 255); */
  background-color: #f7f5f5;
  box-shadow: 10px 21px 56px -8px rgba(214, 214, 214, 1);
}

thead{
  background-color: rgb(101, 181, 255) !important;
}

th{
  font-weight: 400 !important;
}

@media screen AND (max-width: 460px) {
  #month-report{
    width: 590px !important;
  }

  #month-table-title{
    width: 590px !important;
  }

  #year-table-title{
    width: 590px !important;
  }

  #year-report{
    width: 590px !important;
  }
}