#navbar {
  background-color: #f7f5f5;
}

form {
  color: #1c2321 !important;
  border-radius: 20px;
  background-color: #f7f5f5;
  /* box-shadow: 10px 21px 62px 25px rgb(239, 239, 239); */
  box-shadow: 10px 21px 56px -8px rgba(214, 214, 214, 1);
}

.success-notify {
  border-radius: 20px;
  background-color: #f7f5f5;
  box-shadow: 10px 21px 56px -8px rgba(214, 214, 214, 1);
  color: green;
  padding: 20px;
  margin-top: 25px;
  font-size: 16px;
  width: 25%;
}

.warn-notify {
  border-radius: 20px;
  background-color: #f7f5f5;
  box-shadow: 10px 21px 56px -8px rgba(214, 214, 214, 1);
  color: rgb(255, 166, 0);
  padding: 20px;
  margin-top: 25px;
  font-size: 16px;
  width: 25%;
}

.failure-notify {
  border-radius: 20px;
  background-color: #f7f5f5;
  box-shadow: 10px 21px 56px -8px rgba(214, 214, 214, 1);
  color: crimson;
  padding: 20px;
  margin-top: 25px;
  font-size: 16px;
  width: 25%;
}
